{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- Load plotly.js into the DOM -->
        <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    </head>
    <body>

<p>many data-set have independent column placed by different index, so I just use a dammy list for dependent value</p>

        <div id="myDiv">
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>

        <!-- pick X and y value no need no need  -->

        <script>
            let first_column2 = JSON.parse(`{{ first_column }}`);
            let second_column2 = JSON.parse(`{{ second_column }}`);
            // let last_column = JSON.parse(`{{ last_column }}`);

// var x = last_column;

            var x = [
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Dammy independent 1',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
                'Damyy independent 2',
            ];

            var trace1 = {
                y: first_column2,
                x: x,
                name: 'random coloum 1',
                marker: { color: '#3D9970' },
                type: 'box',
            };

            var trace2 = {
                y: second_column2,
                x: x,
                name: 'random coloum 2',
                marker: { color: '#FF4136' },
                type: 'box',
            };

            var data1 = [trace1, trace2];

            var layout = {
                yaxis: {
                    title: 'random ',
                    zeroline: false,
                },
                boxmode: 'group',
            };

            Plotly.newPlot('myDiv', data1, layout);
        </script>
    </body>
</html>
