{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <h1>Bootstrap tab panel example (using nav-pills)</h1>
        </div>
        <div id="exTab1" class="container">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#1a" data-toggle="tab">Scatter Plot</a>
                </li>
                <li><a href="#2a" data-toggle="tab">Box Plot</a></li>
                <li><a href="#3a" data-toggle="tab">Histogram</a></li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">

                    
                    {% include 'detail_csvs/Scatter_view.html' %}
    
                    
                </div>





                <div class="tab-pane" id="2a">
                    
                    {% include 'detail_csvs/Box_view.html' %}

                </div>




                <div class="tab-pane" id="3a">
                    {% include 'detail_csvs/Histogram.html' %}

                </div>
            </div>
        </div>
    </body>

    <!-- Latest compiled and minified JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</html>
