{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <!-- semantic UI -->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css"
        />
        <!--Chart js-->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
            integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E="
            crossorigin="anonymous"
        />

    
        <!-- html2pdf -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"
            integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        />

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    </head>
    <body>

        <div class ="container text-right" style="display: block; width: 90%; margin: auto">
            <button
                
                id="exportPDF1"
            >
                Export PDF
            </button>
        </div>


        <div id="html2pdf1" style="display: block; width: 90%; margin: auto">
        <canvas id="scatter" width="300" height="90"></canvas>

        <script>
            const data = {
                datasets: [
                    {
                        label: 'Scatter Dataset',
                        data: [],
                        backgroundColor: 'rgb(255, 99, 132)',
                    },
                ],
            };
            let first_column = JSON.parse(`{{ first_column }}`);
            let second_column = JSON.parse(`{{ second_column }}`);

            first_column.map((key, index) => {
                data.datasets[0].data.push({
                    x: first_column[index],
                    y: second_column[index],
                });
            });

            // console.log(data);

            var ctx = document.getElementById('scatter');
            var scatter = new Chart(ctx, {
                type: 'scatter',
                data: data,
                options: {
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                        },
                    },
                },
            });
        </script>
        </div>

        <script>
            let htmlPDF1 = document.getElementById('html2pdf1');
            let exportPDF1 = document.getElementById('exportPDF1');
            exportPDF1.onclick = (e) => html2pdf(htmlPDF1);
        </script>
    </body>
</html>
